@page "/developers"

<h1>Вырасти свой API</h1>

<img id="sprout" src="sprout.jpg" />

<div class="page">
<p>
    У вас есть API, который может быть интересен бизнесу, но вы не знаете, как его монетизировать?
    Мы&nbsp;поможем вам найти новых клиентов, заключим с ними договора, подключим их к нашей системе
    тарификации и биллинга, а вам останется только получать вознаграждение и заниматься поддержкой и развитием
    вашего API.
</p>

<p>
    Мы уже много лет успешно продаем веб-сервис «Морфер»:
    у нас тысячи клиентов,
    API&nbsp;обрабатывает порядка миллиона запросов в день,
    есть личный кабинет, где клиенты могут самостоятельно, без нашей помощи
    заказывать подписку, скачивать договора, счета и акты, необходимые для бухгалтерии.
    Есть интеграция с банком, возможность оплачивать картой или электронными деньгами.
</p>

<h2>Как это работает?</h2>

<p> На текущий момент реализован следующий способ подключения вашего API к системе:</p>

<img id="integration1" src="integration1.svg" alt="Способ подключения 1"/>

<ol>
    <li>Клиент вызывает ваш API.</li>
    <li>Ваш API вызывает наш сервис gateway.api.farm и передает ему запрос клиента, 
        а обратно получает ответ: находится ли этот запрос в пределах оплаченных лимитов доступа.
    </li>
    <li>Сервис gateway.api.farm читает из БД информацию о лимитах доступа. Разумеется,
        эта информация кэшируется в оперативной памяти, так что сервис отвечает мгновенно.
        А еще он логгирует полученные запросы, так что в скором времени вы сможете
        просматривать логи в личном кабинете разработчика.
    </li>
    <li>Клиент авторизуется в личном кабинете и оплачивает доступ к вашему API.
    </li>
    <li>Личный кабинет хранит аккаунты клиентов и лимиты доступа в БД.</li>
</ol>

<p> Таким образом, для подключения вам необходимо внести лишь одно небольшое 
    изменение в ваш API: вызов «гейтвея» и возврат ответа или ошибки 402.
</p>

<p> Мы также работаем над способом подключения №2, когда вам не нужно будет
    вносить изменения в ваш API, а достаточно будет изменить DNS записи
    для api.yourdomain.com, чтобы они указывали на наш прокси-сервис, который
    позаботится обо всем остальном. 
    Это также открывает возможность логгирования ответов вашего API.
</p>

<h2>Подключайтесь!</h2>

<p>
    Готовы подключить ваш API?
</p>

<ol>
    <li>
        Позвоните нам, чтобы обсудить перспективы сотрудничества:
        <ul>
            <li>
                Расскажите, что делает ваш API, кто ваши клиенты.
            </li>
            <li>
                На каком этапе реализации находится ваш проект?
            </li>
            <li>
                Как у вас обстоят дела с лицензионной чистотой? 
                Наши с вами клиенты должны быть полностью уверены в лицензионной чистоте продуктов.
            </li>
            <li>
                Где хостится ваш сервис? Мы можем взять хостинг на себя.
            </li>
            <li>
                Кто будет заниматься поддержкой клиентов? Мы можем помочь вам в этом.
            </li>
        </ul>
    </li>
    <li>
        Мы заключим с вами договор на обслуживание, где будут распределены обязанности 
        и определена доля вашего вознаграждения (от 50 до 80%).
    </li>
    <li>
        Напишем с вами документацию к вашему API. Поможем перевести ее на английский.
        Для начала создайте пул-реквест к
        <a href="https://gitlab.com/api-farm/mkdocs">этому репозиторию</a>.
    </li>
    <li>
        Выполним подключение и будем ждать первых клиентов!
    </li>
</ol>

<p>     
    Напишите нам на <a href="mailto:us@@api.farm">us@@api.farm</a>
    или позвоните: +7 925 336 9960.
</p>

<img id="graph" src="graph.png" alt="График количества запросов" />

</div>
