@page "/get-subscription"

<h1>Приобрести подписку</h1>

<div class="page">
    
    <p>
        Заказать подписку вы можете в личном кабинете на сайте morpher.ru.
        К оплате принимаются банковские карты, электронные деньги,
        а также безналичные переводы.
        Юрлица могут скачать договор и счет на оплату прямо из личного кабинета.
        Оригиналы документов мы вышлем вам Почтой России или через Контур.Диадок.
        Подписка активируется автоматически при оплате счета.
    </p>
    <p> Нажмите кнопку, чтобы перейти в личный кабинет:</p>
    
    <a class="btn btn-primary" role="button" href="https://morpher.ru/my">Личный кабинет</a>
    
</div>
