@page "/"

<h1>Вырасти свой API</h1>

<img id="sprout" src="sprout.jpg" />

<p>
    У вас есть API, который может быть интересен бизнесу, но вы не знаете, как его монетизировать?
    Мы&nbsp;поможем вам найти новых клиентов, заключим с ними договора, подключим их к нашей системе
    тарификации и биллинга, а вам останется только получать вознаграждение и заниматься поддержкой и развитием
    вашего API.
</p>

<p>
    Мы уже много лет успешно продаем веб-сервис Морфер:
    у нас тысячи клиентов,
    API&nbsp;обрабатывает около миллиона запросов в день,
    есть личный кабинет, где клиенты могут самостоятельно, без нашей помощи
    заказывать подписку, скачивать договора, счета и акты, необходимые для бухгалтерии.
    Есть интеграция с банком, возможность оплачивать картой или электронными деньгами.
</p>

<p>
    Готовы подключить ваш API? Напишите нам на <a href="mailto:us@@api.farm">us@@api.farm</a>.
</p>

<img id="graph" src="graph.png" alt="График количества запросов" />

