@page "/"

<h1>Каталог API</h1>

<div class="page">
    
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th>Функция</th>
            <th>Разработчик</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a href="/docs/morpher-ru/ws/3/russian/declension/">
                Склонение по падежам на русском языке
            </a></td>
            <td>morpher.ru</td>
        </tr>
        <tr>
            <td><a href="/docs/morpher-ru/ws/3/ukrainian/declension/">
                Склонение по падежам на украинском языке
            </a></td>
            <td>morpher.ru</td>
        </tr>
        <tr>
            <td><a href="/docs/morpher-ru/ws/3/qazaq/declension/">
                Склонение по падежам на казахском языке
            </a></td>
            <td>morpher.ru</td>
        </tr>
        <tr>
            <td><a href="/docs/morpher-ru/ws/3/russian/spell-date/">
                Пропись дат на русском языке
            </a></td>
            <td>morpher.ru</td>
        </tr>
        <tr>
            <td><a href="/docs/morpher-ru/ws/3/qazaq/spell-date/">
                Пропись дат на казахском языке
            </a></td>
            <td>morpher.ru</td>
        </tr>
        <tr>
            <td><a href="/docs/morpher-ru/ws/3/russian/accentize/">
                Расстановка ударений в текстах на русском языке
            </a></td>
            <td>morpher.ru</td>
        </tr>
        </tbody>
    </table>
    
    <p> Все сервисы доступны бесплатно с лимитом 100 кредитов в сутки.
        Один кредит равен одному GET-запросу для большинства эндпойнтов.
        Чтобы повысить этот лимит, приобретите подписку:
    </p>
    
    <a class="btn btn-primary" role="button" href="get-subscription">Приобрести подписку</a>
    
</div>
