@page "/"

<h1>Вырасти свой API</h1>

<img id="sprout" src="sprout.jpg" />

<p>
    У вас есть API, который может быть интересен бизнесу, но вы не знаете, как его монетизировать?
    Мы&nbsp;поможем вам найти новых клиентов, заключим с ними договора, подключим их к нашей системе
    тарификации и биллинга, а вам останется только получать вознаграждение и заниматься поддержкой и развитием
    вашего API.
</p>

<p>
    Мы уже много лет успешно продаем веб-сервис Морфер:
    у нас тысячи клиентов,
    API&nbsp;обрабатывает около миллиона запросов в день,
    есть личный кабинет, где клиенты могут самостоятельно, без нашей помощи
    заказывать подписку, скачивать договора, счета и акты, необходимые для бухгалтерии.
    Есть интеграция с банком, возможность оплачивать картой или электронными деньгами.
</p>

<h2>Как это работает?</h2>

<p> На текущий момент реализован следующий способ подключения вашего API к системе:</p>

<img id="integration1" src="integration1.svg" alt="Способ подключения 1"/>

<ol>
    <li>Клиент вызывает ваш API.</li>
    <li>Ваш API вызывает наш сервис gateway.api.farm и передает ему запрос клиента, 
        а обратно получает ответ: находится ли этот запрос в пределах оплаченных лимитов доступа.
    </li>
    <li>Сервис gateway.api.farm читает из БД информацию о лимитах доступа. Разумеется,
        эта информация кэшируется в оперативной памяти, так что сервис отвечает мгновенно.
        А еще он логгирует полученные запросы, так что в скором времени вы сможете
        просматривать логи в личном кабинете разработчика.
    </li>
    <li>Клиент авторизуется в личном кабинете и оплачивает доступ к вашему API.
    </li>
    <li>Личный кабинет хранит аккаунты клиентов и лимиты доступа в БД.</li>
</ol>

<p> Таким образом, для подключения вам необходимо внести лишь оно небольшое 
    изменение в ваш API: вызов «гейтвея» и возврат ответа или ошибки 402.
</p>

<p> Мы также работаем над способом подключения №2, когда вам не нужно будет
    вносить изменения в ваш API, а достаточно будет изменить DNS записи
    для api.yourdomain.com, чтобы они указывали на наш прокси-сервис, который
    позаботится обо всем остальном. 
    Это также открывает возможность логгирования ответов вашего API.
</p>

<h2>Подключайся!</h2>

<p>
    Готовы подключить ваш API? Напишите нам на <a href="mailto:us@@api.farm">us@@api.farm</a>
    или позвоните: +7 925 336 9960
</p>

<img id="graph" src="graph.png" alt="График количества запросов" />

